<!doctype html>

<html lang="en">
	{{ partial "meta/head" . }}
	<body>
		{{ partial "header/header" . }}

		<div class="content" {{ if .IsHome }} id="products" {{ end }}>
			<section class="page">
				<div class="container {{ if .Params.full_width }}max-container{{ end }}">
					{{ block "main" . }}{{ end }}
				</div>
			</section>
		</div>

		{{ partial "footer/footer" . }}

		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
		{{ with "/js/application.js" }}<script src="{{ . }}" type="text/javascript"></script> {{ end }}
	</body>
</html>
