{{ define "main" }}
<p class="editor-link" style="text-align: center; position: relative;
	top: -185px;"><a href="cloudcannon:collections/data/staff_members" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{{ range .Site.Data.staff_members }}
		<li>
			<div class="staff-image" style="background-image: url({{ .image_path }})"></div>
			<div class="name">{{ .name }}</div>
		</li>
	{{ end }}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Passion</h3>
		<p class="editable">What more could you want from life than drawing animals and bringing happiness to others? We hope this passion show through in our work.</p>
	</div>
	<div>
		<h3 class="editable">Animal</h3>
		<p class="editable">It's easy to forget that we're all part of the animal kingdom. Fur is a brand that helps you get in touch with your inner animal.</p>
	</div>
	<div>
		<h3 class="editable">Style</h3>
		<p class="editable">We like to keep things plain and simple around here to help the animals speak for themselves.</p>
	</div>
</div>
{{ end }}